<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fnapp-paymenttprocess-dev-eastus-d7gbfqczd7g8a5ds.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/98185ee4-b744-4fe8-9457-4cc2c9454855/resourceGroups/LAB007/providers/Microsoft.Web/sites/fnapp-paymenttProcess-dev-eastus</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://fnapp-paymenttprocess-dev-eastus-d7gbfqczd7g8a5ds.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>